:root {
    --cor1:#0F6CBD;
    --cor2: #fff;
    --cor3: #ECEDED;
    --cor4: #4c91ce;
    --cor5: rgb(160, 168, 196);
    --cor6: rgb(232, 241, 252);
    --cor7: #181f2e;
    --cor8: #475775;
    --cor9:#0f61a8;
    --cor10:#181f2e;
    --cor11: #738cb9;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.loginForm{
    width: 600px;
    height: 400px;
    background-color: var(--cor7);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: -1px 3px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 15px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 15px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
    position: relative;
}

.logoTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--cor11);
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid var(--cor7);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.logoTitle img {
    width: 100px;
}

.logoTitle h1 {
    font-size: 20px;
    padding-left: 15px;
    font-weight: 600;
    border-bottom: none;
    color: var(--cor2);
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.inputs label {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    color: var(--cor2);
}

.inputs input {
    margin-top: 5px;
    width: 250px;
    height: 22px;
    outline: none;
    cursor:text;
    border: none;
    border-bottom: 1px solid var(--cor2);
    background-color: var(--cor7);
    color: var(--cor2);
}

.inputs input:focus {
    border-bottom: 1px solid var(--cor11);
}

.btnLogin {
    margin-top: 15px;
    font-size: 0.8rem;
    background-color: var(--cor11);
    color: var(--cor2);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    padding: 8px 25px;
}

.btnLogin:hover {
    transition: all .2s ease-in-out;
    background-color: var(--cor4);
}

.formConta .btnCadastrar:hover {
    transition: all .2s ease-in-out;
    background-color: var(--cor1);
}
