:root {
    --light-mode-collor1: #fff;
    --light-mode-collor2: #ECEDED;
    --light-mode-collor3: #e8f1fc;
    --light-mode-collor4: #a0a8c4;
    --light-mode-collor5: #475775;
    --light-mode-collor6: #738cb9;
    --light-mode-collor7: #4c91ce;
    --light-mode-collor8: #0F6CBD;
    --light-mode-collor9: #0f61a8;
    --light-mode-collor10: #0088ff;
    --light-mode-collor11: #181f2e;
    --light-mode-collor12: #181f2e;
}

/* Configuração padrão */
body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--light-mode-collor3);
  font-family: 'Montserrat', sans-serif;
}

input, select, textarea, a.infoDoc, .formatDate {
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: 1px solid rgba(185, 185, 185, 0.651);
}

input:focus, .selectDocumento:focus, select:focus, textarea:focus {
  border: 3px solid var(--light-mode-collor7);
}
button {
  font-family: 'Montserrat', sans-serif;
}

.forms{
  background-color: var(--light-mode-collor1);
}

.visibleDocs{
  margin-right: 80px;
}

.formatDate, .informsDocs{
  font-weight: 500;
  color: var(--light-mode-collor10);
}

/* Configurações padrão das paginas */
.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    margin-left: 250px;
    margin-top: 80px;
}


/* Fieldset formulario de informaçoes */
.container .title-page{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .title-page{
    margin-bottom: 15px;
}

.container .title-page svg {
  font-size: 34px;
  margin-right: 15px;
}

.container h1{
  font-size: 38px;
  font-weight: 400;
  color: var(--light-mode-collor11);
}

.container .border{
  width: 95%;
  height: 1px;
  background-color: var(--light-mode-collor10);
  margin-bottom: 15px;

}

.container fieldset{
  background-color: var(--light-mode-collor1);
  width: 95%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
  border: 1px solid var(--light-mode-collor6);
  border-radius: 6px;
}

.container fieldset .container-basic-1 h2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-mode-collor1);
  background-color: var(--light-mode-collor6);
  padding: 8px 0 8px 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.container-info-1 label{
  font-size: 1rem;
  padding: 16px 0 8px 10px;
  color: var(--light-mode-collor11);
}

.container-info-1 label{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.container-info-1 label div {
  width: 80%;
}

.container-info-1 label span {
  padding: 0 0 0 0;
}

.container-info-1 label input.data-inputs,
.container-info-1 label select.data-inputs {
  width: 78%;
  height: 40px;
  border-radius: 4px;
  margin-right: 35px;
  padding-left: 10px;
  background-color: var(--light-mode-collor1);
  color: var(--light-mode-collor12);
  font-size: 0.9rem;
  font-weight: 400;
}


.container .fieldset-spaced{
  margin-top: 15px;
}

.container-info-1 .pdf-styles {
  display: flex;
  margin-left: 317px;
  padding-bottom: 15px;
}

.container fieldset .btn-atualizar{
  display: flex;
  justify-content:center;
}

.container fieldset .btn-atualizar button{
  background-color: var(--light-mode-collor6);
  color: var(--light-mode-collor1);
  margin: 25px;
  padding: 10px 17px;
  border: none;
  border-radius: 4px;
  transition: .3s;
  cursor: pointer;
}

.container fieldset .btn-atualizar button:hover{
  background-color: var(--light-mode-collor7);
  transition: .3s;

}

.showbtn{
  margin-top: -37px;
  position: relative;
}

.message-system{
  width: 95%;
}

/* NAVBAR */
.container-toggle .menu {
    font-family: 'Montserrat', sans-serif;
    width: 140px;
    display: flex;
    background-color: var(--light-mode-collor11);
    position: relative;
    top: 35px;
    right: 5%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    justify-content: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .1s ease-in-out;
    transform: translateX(50vh);
}

.menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0vh);
}

.menu {
    opacity: 0;
}

.uploadFile{
  color: var(--light-mode-collor8);
  font-weight: 500;
}

/* Formularios */
form h1{
  font-weight: 500;
  color: var(--light-mode-collor11);
  text-align: center;
  border-bottom: 1px solid var(--light-mode-collor11);
}

.containerInputs label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6em;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 8px;
}

.forms label > input, select, textarea, a.infoDoc, .formatDate  {
    margin-top: 3px;
    padding: 0.6em;
    background-color:var(--light-mode-collor1);
    width: 100%; 
    border-radius: 4px;
}

.containerInputs p {
    padding: 5px 10px;
}

form .btnCadastrar{
    display: flex;
    margin: 10px auto;
    font-size: 14px;
    background-color: var(--light-mode-collor6);
    color: var(--light-mode-collor1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 25px;
    transition: all .2s ease-in-out;
}

form option {
  font-size: 16px;
}


.btnOpenModal img:hover {
    transition: all .4s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

.formconfig{
  display: flex;
  flex-direction:row;
}

.formconfig label  {
  margin-right: 30px;

}

.formconfig label input, .formconfig label .formatDate:hover {
  width: 200px;
}


.formconfig label input, .formconfig label div{
  margin-right: 5px;
}

.custom button  {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.message-add p {
  font-size: 22px;
  color: var(--light-mode-collor7);
}

.custom svg {
  font-size: 52px;
  color: var(--light-mode-collor7);
  transition: .2s;
}

.custom svg:hover{
  transform: scale(1.2);

}

.container-info-1 label .input-form-edit {
  display: flex;
  flex-direction: column;
}


span.errors-req {
  font-size: 14px;
  font-weight: 400;
  color: red;
}

/* MODAL */
.btnOpenModal{
  transition: all .6s ease-in-out;
  padding: 15px 40px;
  border: none;
  background-color:  transparent; 
}

.btnOpen{
  background-color: var(--cor4);
  color: var(--cor2);
  border: none;
  padding: 8px 13px;
  border-radius: 4px;
  transition: .3s;
  cursor: pointer;
}


.btnOpen:hover, .btnCadastrar:hover {
  background-color: var(--light-mode-collor7);
}

.modalStyle {
  background-color: var(--light-mode-collor1);
  margin: 60px auto;
  justify-content: center;
  max-width: 40%;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.topModal{
  display: flex;
  justify-content: space-between;
}

.topModal button{
  border: none;
  background-color: transparent;
}

button.editbtn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button.editbtn svg:hover {
  color: var(--cor4);
}

.topModal button svg {
  cursor: pointer;
  font-size: 28px;
}

/* Mensagem de error */

.message-error {
    font-size: 14px;
    background-color: pink;
    color: red;
    padding: 10px 0px;
    border-radius: 4px;
    border: 1px solid red;
    display: flex;
    margin: 60px auto;
    width: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-error-newdocs{
    color: red;
    background-color: pink;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid red;
    position: absolute;
    left: 50%;
    margin-left: -25px;
}

/* Mensagem de sucesso */
.message-success{
  color: rgb(1, 146, 38);
  background-color: rgb(128, 255, 160);
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(1, 146, 38);
  position: absolute;
  left: 44%;
  margin-top: 15px;
}

.message-add{
  font-size: 18px;
  background-color: transparent;
  color:var(--cor10);
  border: none;
  display: flex;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* tabela de documentos */
.container-table{
  margin: 0px 15px 0 0;
}
.container-table h1{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 20px 0;
  color: var(--light-mode-collor7);
}

.container-table .buttonPagination{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: var(--light-mode-collor1);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.container-table .buttonPagination button {
  font-size: 12px;
  padding: 5px 8px;
  background-color: var(--light-mode-collor1);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--light-mode-collor12);
  margin-right: 5px;
}

.container-table .buttonPagination button:hover {
  background-color: var(--light-mode-collor3);
}

.customTable {
  width: 100%;
  margin-top: 15px;
  background-color: var(--light-mode-collor1);
  border-collapse: collapse;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(226, 226, 226);
  -moz-box-shadow: 0px 0px 2px 1px rgba(226, 226, 226);
  box-shadow: 0px 0px 0px 0px rgba(226, 226, 226);
}


table.customTable thead {
  margin-left: 15px;
  color: var(--light-mode-collor11);
}


table.customTable th {
  font-size: 0.8rem;
  font-weight: 700;
  text-align: left;
}

table.customTable td, table.customTable th {
  border-radius: 8px;
  padding: 10px 15px;
  border-top: 1px solid var(--light-mode-collor4);
  border: none;
}

table.customTable td {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light-mode-collor11);
}

table.customTable thead {
  background-color: var(--light-mode-collor1);
}

table.customTable .tbody-Style{
  border-top: 1px solid var(--light-mode-collor3);
  cursor: pointer;
}

table.customTable td, table.customTable th:hover {
  align-items:baseline;
  border-radius: 0;
}

table.customTable .tbody-Style tr:hover {
  background-color: var(--light-mode-collor3);
  border-left-color: 1px solid var(--light-mode-collor1);
  color: var(--cor2);
}

/* .head-title input{
  padding: 3px 20px;
  border-radius: 13px;
  position: absolute;
  left: 45%;
  border-color: var(--light-mode-collor9);
} */

/* table.customTable .tbody-Style tr td.buttons{
  display: flex;
} */

/* input::placeholder{
  color: var(--cor7);
} */

/* table.customTable .input-Filter:focus{
    border: 3px solid #0f6cbd98;
    color: var(--cor7);
} */

table.customTable td a {
  text-decoration: none;
  color: var(--light-mode-collor);
}

table.customTable td a:hover {
  text-decoration: underline;
}

table.customTable td span:hover  {
  text-decoration: underline;
}

button.delete-btn, button.edit-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

div.custom{
  background-color: var(--light-mode-collor1);
}

button.delete-btn {
  margin-right: 10px;
}

button.edit-btn svg:hover{
  color: var(--light-mode-collor8);
}

.trash-icon svg {
  font-size: 16px;
  color: var(--light-mode-collor11);
  transition: .1s;
}

.trash-icon svg:hover {
  color: rgb(248, 71, 71);
  transition: .1s;
}

.dowload-icon svg:hover {
  color: var(--light-mode-collor8);
  transition: .1s;
}

/* Page Admin */
.flexButtons {
  display: flex;
  justify-content: space-between;
}

.search{
  margin: 0 250px 15px 0px;

}

.search input{
  position: absolute;
  height: 40px;
  width: 500px;
  border-radius: 18px;
  padding-left: 40px;
  background-color: var(--light-mode-collor);
  border-color: var(--light-mode-collor6);
}

.search input::placeholder{
  color: var(--light-mode-collor11);
  font-weight: 500;
}

.search input:focus{
  background-color: var(--light-mode-collor1);
}

.svgIamge {
  position: relative;
  margin: 6px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.svgIamge:hover {
  background-color: var(--light-mode-collor4);
}

.svgIamge svg {
  font-size: 25px;
  color: var(--light-mode-collor5);

}

/* Not Auth */
.notAuth {
  position: absolute;
  left: 40%;
  background-color: pink;
  border: 1px solid red;
  border-radius: 4px;
}

.notAuth h1{
  font-size: 22px;
  padding: 15px;
  font-weight: 400;
  color: red;
}

/* Loader */
.loader{
  background-color: rgba(0, 0, 0, 0.219); 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader .cliploader{
  position: absolute;
  top: 45%;
  left: 50%;
}

.loaderForms {
  background-color: rgba(0, 0, 0, 0.219); 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loaderForms .cliploader{
  position: absolute;
  top: 60%;
  left: 48%;
}

.loaderLogout{
  background-color: rgba(0, 0, 0, 0.219); 
  width: 960%;
  height: 100%;
  position: fixed;
  top: 0;

}

.loaderLogout .cliploader{
  position: fixed;
  top: 45%;
  left: 50%;
}

/* Lixeira */
.trash {
  background-color: transparent;
  border-radius: 50%;
  position: fixed;
  top: 89%;
  left: 94%;
  cursor: pointer;
  transition: .2s;
}

.trash:hover {
  transform: scale(1.2);
  transition: .2s;
}

.trash svg {
  font-size: 48px;
  color:  #0088ff86;
  transition: .2s;

}

.trash svg:hover{
  color: var(--cor10);
  transition: .2s;
}


/* sidebar */
.sidebar {
    height: 100vh;
    width: 225px;
    background-color: var(--light-mode-collor11);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid var(--cor8);
}

.container-sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px;
}

.container-sidebar label {
  color: var(--cor2);
  margin: 20px 0 0 0;
}

.sidebar a {
  text-decoration: none;
}

.userName h1{
    font-size: 16px;
    font-weight: 600;
    color: var(--cor2);
    padding-left: 10px;
    text-decoration:none;
    margin-top: 50px;
}

.userName p {
    font-size: 0.7rem;
    color: var(--cor4);
    padding-left: 10px;
    text-decoration:none;

}

nav {
    margin-top: 70px;
}

.sidebar nav a {
    display: flex;   
    align-items: center; 
    color: var(--cor6);
    text-decoration: none;
    margin-top: 10px;
    padding: 3px 10px;
    transition: .2s;
    
}

nav a h1 {
    font-size: 14px;
    font-weight: 500;
}

.sidebar nav svg {
    font-size: 1.6rem;
    margin-right: 15px;
}


.sidebar nav a:hover {
    background-color: var(--cor8);
    transition: .2s;
    border-radius: 22px;
}

.container img {
    position: relative;
    top: -10px;
    right: 10px;
}



@media only screen and (max-width: 1366px){
  .nav-btn{
      visibility: visible;
      opacity: 1;
        
    }

    .stylesProfile, nav a h1, .userName h1{
      visibility: hidden;
      opacity: 0;
    }

    .sidebar nav svg {
      font-size: 1.8rem;
      margin-left: 95px;
    }
    .sidebar nav svg:hover{
      transition: .3s; 
      color: var(--light-mode-collor7);
    }

    .sidebar nav a img{
      margin-left: 93px;
    }

    .sidebar nav a:hover{
      background-color: transparent;
    }

    .edit-svg{
      margin-left: 4px;
    }

    .sidebar{
      display: flex;
      flex-direction: column;
      align-items:center;
      width: 60px;
      transition: 0.8s; 
      transform: translateX(-0vh); 
    }

    .brasao{
      margin-left: 73px;
    }
    
    nav{
      transition: 0.8s; 
      transform: translateX(-0vh); 
    }

    .container{
      margin-left: 90px;
    }


    .responsive_nav {
      transform: none ;
    }

    .nav-close-btn {
		  position: absolute;
		  top: 1.6rem;
		  right: 2rem;
	}

  .btn-logout:hover{
        padding: 10px;
        text-decoration: underline;
    }

    .active{
        padding: 10px; 
    }
}
