:root {
    --cor1:#0F6CBD;
    --cor2: #fff;
    --cor3: #ECEDED;
    --cor4: #4c91ce;
    --cor5: rgb(160, 168, 196);
    --cor6: rgb(232, 241, 252);
    --cor7: #1C2536;
    --cor8: #475775;
    --cor9:#0f61a8;
    --cor10:#0088ff;
}

/* COnfiguração padrão */
body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--cor6);
  font-family: 'Montserrat', sans-serif;
}

input, select, textarea, a.infoDoc, .formatDate {
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: 1px solid rgba(185, 185, 185, 0.651);
}

input:focus, .selectDocumento:focus, select:focus, textarea:focus {
  border: 3px solid #0088ff;
}
button {
  font-family: 'Montserrat', sans-serif;
}

.forms{
  background-color: var(--cor2);
  padding: 25px;
  border-radius: 8px;
}

.vizibleDocs{
  margin-right: 80px;
}

.formatDate, .informsDocs{
  font-weight: 500;
  color: var(--cor7);
}

.infoDoc {
  font-size: 500;
  text-decoration: none;
  color: var(--cor7);
}
.infoDoc:hover{
  text-decoration:underline;
  color: var(--cor10);
}

/* Formularios */
form h1{
  font-weight: 500;
  color: var(--cor7);
  padding: 10px 0 0 0;
  text-align: center;
  border-bottom: 1px solid var(--cor8);
}

.containerInputs label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 8px;
}

.forms label > input, select, textarea, a.infoDoc, .formatDate  {
    margin-top: 8px;
    padding: 0.7em;
    background-color:var(--cor2);
    width: 96%; 
    border-radius: 4px;
    
}

.containerInputs p {
    padding: 5px 10px;
}

form .btnCadastrar{
    display: flex;
    margin: 15px auto;
    font-size: 14px;
    background-color: var(--cor4);
    color: var(--cor2);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 25px;
    transition: all .2s ease-in-out;
}

form option {
  font-size: 16px;
}

.topfild{
  display: flex;
  border-bottom: 1px solid var(--cor8);
  height: 60px;
}

.topfild h1 {
  margin: 0 0px 0 180px;
  border: none;
}

.topfild button svg {
  color: var(--cor4);
}

form button.backtoList{
  background-color: transparent;
  color: white;
  transition: .3;
  font-size: 1.5rem;
  border: none;
  position: relative;
  left: 130px;
  transition: .2s;
}

form button.backtoList svg:hover{
  transition: .2s;
  transform: scale(1.3);
}

form .btnCadastrar:hover, .btnOpenModal:hover {
    transition: all .2s ease-in-out;
    background-color: var(--cor1);
}

.formconfig{
  display: flex;
  flex-direction:row;
}

.formconfig label  {
 margin-right: 30px;

}

.formconfig label input, .formconfig label .formatDate:hover {
 width: 200px;
}


.formconfig label input, .formconfig label div{
  margin-right: 5px;
}

.ModalFirstDocument {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.ModalFirstDocumen p {
  font-size: 22px;
}

.ModalFirstDocument svg {
  font-size: 52px;
  color: var(--cor10);
  transition: .2s;
}

.ModalFirstDocument svg:hover{
  transform: scale(1.2);

}

form label span {
  font-weight: 500;
  color: red;
}

/* MODAL */
.btnOpenModal{
  background-color: var(--cor4);
  color: var(--cor2);
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 4px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.modalStyle {
  background-color: #fff;
  margin: 100px auto;
  max-width: 900px;
  min-width: 400px;
  padding: 20px;
  border-radius: 6px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.topModal{
  display: flex;
  justify-content: space-between;
}

.topModal button{
  border: none;
  background-color: transparent;
}

button.editbtn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button.editbtn svg:hover {
  color: var(--cor4);
}

.topModal button svg {
  cursor: pointer;
  font-size: 28px;
}

/* Mensagem de error */
.custom{
  background-color: var(--cor2);
  padding: 1px;
}
.message-error {
    font-size: 14px;
    background-color: pink;
    color: red;
    padding: 10px 0px;
    border-radius: 4px;
    border: 1px solid red;
    display: flex;
    margin: 60px auto;
    width: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Mensagem de sucesso */
.message-success{
  color: rgb(1, 146, 38);
  background-color: rgb(128, 255, 160);
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(1, 146, 38);
  display: flex;
  margin: 60px auto 0;
  width: 265px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-add{
  font-size: 18px;
  background-color: transparent;
  color:var(--cor10);
  /* padding: 10px 0px; */
  /* border: 1px solid blue; */
  border: none;
  display: flex;
  margin: 60px auto;
  /* width: 265px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* tabela de documentos */
.container-table{
  margin: 0px 40px 0 0;
}
.container-table h1{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 20px 0;
  color: var(--cor4);
}

.container-table .buttonPagination{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: var(--cor2);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.container-table .buttonPagination button {
  font-size: 15px;
  padding: 5px 8px;
  background-color: var(--cor2);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cor7);
  margin-right: 5px;
}

.container-table .buttonPagination button:hover {
  background-color: var(--cor3);
}

.customTable {
  width: 100%;
  margin-top: 15px;
  background-color: var(--cor2);
  border-collapse: collapse;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  color: #000000;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(226, 226, 226);
  -moz-box-shadow: 0px 0px 2px 1px rgba(226, 226, 226);
  box-shadow: 0px 0px 0px 0px rgba(226, 226, 226);
}

.custom-table-users {
  background-color: var(--cor2);
}


table.customTable thead {
  margin-left: 15px;
  color: var(--cor7);
}

table.customTable th {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: left;
}

table.customTable td, table.customTable th {
  border-radius: 8px;
  padding: 10px 15px;
  border-top: 1px solid rgb(226, 226, 226);
  border: none;
}

table.customTable td {
  font-size: 0.8rem;
  font-weight:400;
  color: #000;
  border-top: 1px solid rgb(226, 226, 226);
}

table.customTable thead {
  background-color: var(--cor2);
}

table.customTable .tbody-Style{
  border-top: 1px solid rgb(226, 226, 226);
  cursor: pointer;
}

table.customTable td, table.customTable th:hover {
  align-items:baseline;
  border-radius: 0;
}

table.customTable .tbody-Style tr:hover {
  background-color: var(--cor3);
}

.head-title input{
  padding: 3px 20px;
  border-radius: 13px;
  position: absolute;
  left: 45%;
  border-color: var(--cor7);
}

table.customTable .tbody-Style tr td.buttons{
  display: flex;
}

input::placeholder{
  color: var(--cor7);
}

table.customTable .input-Filter:focus{
    border: 3px solid #0f6cbd98;
    color: var(--cor7);
}

table.customTable td a {
  text-decoration: none;
  color: #000;
}

table.customTable td a:hover {
  text-decoration: underline;
}

table.customTable td span:hover  {
  text-decoration: underline;
}

button.delete-btn, button.edit-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.delete-btn {
  margin-right: 10px;
}

button.edit-btn svg:hover{
  color: var(--cor4);
}

.trash-icon svg {
  font-size: 16px;
  color: var(--cor7);
  transition: .1s;
}

.trash-icon svg:hover {
  color: rgb(248, 71, 71);
  transition: .1s;
}

.dowload-icon svg:hover {
  color: var(--cor1);
  transition: .1s;
}

/* Page Admin */
.flexButtons {
  display: flex;
  justify-content: space-between;
}

.search{
  margin: 0 250px 15px 0px;
}

.search input{
  position: absolute;
  height: 35px;
  width: 500px;
  border-radius: 6px;
  padding-left: 40px;
}

.svgIamge {
  position: relative;
  top: 0%;
  margin: 2px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.svgIamge:hover {
background-color: var(--cor3);
}

.svgIamge svg {
  font-size: 25px;
  color: var(--cor10);
}

/* Not Auth */
.notAuth {
  position: absolute;
  left: 40%;
  background-color: pink;
  border: 1px solid red;
  border-radius: 4px;
}

.notAuth h1{
  font-size: 22px;
  padding: 15px;
  font-weight: 400;
  color: red;
}


/* CHECK-BOX */
.checkbox-container{
  position: relative;
  bottom: 14%;
  left: 90%;
  cursor: pointer;
  color: var(--cor7);
  width: 48px;
  height: 40px;
}

.formRegister{
  position: relative;
  bottom: 36px;
  left: 92%;
}

.checkbox-container svg{
  cursor: pointer;
  left: 37%;
  top: 35%;
}

.checkbox-container svg:hover {
  color: var(--cor4);
}

.checkbox-container input.checkbox {
  width: 50px;
  cursor: pointer;
  border: none;
}

label.labelConfirmSenha{
  margin-top: -40px;
}

.formEditUser{
  margin-top: -40px;
  position: relative;
  left: 85%;
  top: 17px;
}
